@import url("../node_modules/bootstrap/dist/css/bootstrap.css");
@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
/* Add this to your styles.css or styles.scss */


@import url("../node_modules/ngx-spinner/animations/ball-scale-multiple.css");

*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-dialog-container
{
  overflow: hidden !important;
}
  